.titulo-tabla{
    font-size: 20px;
    text-align: center;
    margin: 5px;
}

.table-wrapper {
    width: 100%;
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 8px;
}

table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f8f9fa;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

table th, table td {
    padding: 15px 9px;
    text-align: center;
    border: 1px solid #dee2e6;
}

table th {
    background-color: #09509c;
    color: #ffffff;
    font-weight: bold;
}

table td {
    color: #343a40;
    word-wrap: break-word;
}

table tr:nth-child(even) {
    background-color: #f2f2f2; 
}

table tr:hover {
    background-color: #e9ecef; 
}

.check {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

table a{
    text-decoration: none;
}

